.closeButton{
  position: relative;
  top: -62px;
  left: 89%;
  font-size: 200%;
  cursor: pointer;
color: #f7e596;

}

@media screen and ( max-width: 720px) {
  .closeButton {
    position: absolute;
    top: 1%;
    left: 88%;
    font-size: 200%;
    cursor: pointer;
  }
}